*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slide>img{
    height: 200px;
    width:250px;
    object-fit: cover;
}

.nav a{
    text-decoration: none;
    color: brown;
    font-size: 1.3em;
}

.nav a:hover{
    color: blueviolet;
}

.nav{
    position: absolute;
    left:40%;
    top:230px;
}
.main{
    overflow: hidden;
    width:250px;
    height:230px;
    position: absolute;
    left:40%;
}
.slide{
    list-style: none;
    position: absolute;
    left:-300px;
    top: 0;
    opacity: 0;
    transition-duration: 3s;
}

.slide:target{
    left:0px;
    opacity: 1;
}